body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, rgba(8, 8, 8, 0.8), rgba(6, 6, 6, 0.9), rgba(0, 0, 0, 0.91));
    background-repeat: no-repeat;
}

header {
    position: relative;
    /* da bi se navbar "nalepio" kako treba i da ne bi bilo sečenja na mobilnom */
    text-align: center;
    line-height: .5em;
    color: rgba(59, 58, 51, 0.836);
    height: 100vh;
    /* viewport height-slika razvučena u dužinu; kod cover širina ne mora da se piše jer se razvlači u širinu */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../image/Fashion-woman-model-portrait.jpg");
    /* dodat linear gradient da potamni sliku kako bi se naslov video */
}

header,
section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.801);
}

header div {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
}

h1,
h2 {
    color: rgba(255, 255, 255, 0.774);
    text-shadow: 6px 6px 20px #000000;
}

h1 {
    font-size: 2.5em;
}

h1,
.naslov-gallery,
.centered {
    font-family: 'Kaushan Script', Roboto, Helvetica, sans-serif, cursive;
}

h2 {
    font-family: 'Yatra One', Roboto, Helvetica, sans-serif;
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(15, 15, 15);
    opacity: 0.5;
}

a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    padding: .9em;
    text-shadow: 2px 2px 4px #000000;
}

nav a {
    border-bottom: 1px solid rgb(46, 39, 39);
}

nav a,
footer,
.kontaktmain {
    color: white;
}

main,
section,
.collection-header,
.naslov-gallery,
div.wrapper,
.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

img,
iframe {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.801);
}

a img,
.mapa {
    margin-bottom: 1.5em;
}

.wrapper {
    margin: 4%;
}

p {
    padding: 8%;
    line-height: 2em;
    text-align: justify;
}

.home {
    margin-bottom: 2em;
}

.home a img {
    height: 200px;
}

.collect {
    flex-direction: column;
}

/* za slike-linkove sa naslovne - kontejneri za umetanje teksta na sliku */

.image-link {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px #000000;
    mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 2.2em;
    /* pozicioniranje i veličina fontova za tekst na slici */
}

/* end slike-linkovi naslovna */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(15, 15, 15);
    opacity: 0.8;
    /* background: linear-gradient(330deg, #4530534d 0%, #3a444c66 25%, #3b4f8466 50%, #563a724d 75%, #62797766 100%);
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%); */
}

footer p {
    display: block;
    padding: .5em;
    margin: .5em;
    line-height: 1em;
}

/* biography */

.navbio {
    text-align: center;
    position: relative;
    top: 0;
}

.navbio a {
    padding: 0.5em;
}

iframe {
    border: none;
}

section {
    color: rgb(224, 215, 215);
    text-shadow: 3px 3px 5px #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../thumbnails/img15.jpg");
}

/* end biography */

/* gallery */

.naslov-gallery {
    border-bottom: 3px solid rgb(63, 61, 61);
}

.thumb-gallery {
    max-width: 100%;
}

/* end gallery */

/* kontakt start */

.kontaktmain p {
    padding: 2%;
    line-height: .7em;
}

.mapa {
    filter: brightness(50%);
}

.kontaktmain a img {
    mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, #ffffff 55%, #ffffff 65%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, #ffffff 55%, #ffffff 65%, rgba(255, 255, 255, 0) 100%);
    /* senka s leve i desne strane */
}

/* kontakt end */

/* collections start */

.collection>h1,
h2 {
    line-height: .3em;
    font-weight: 100;
}

.collect img {
    margin-bottom: 2.5em;
}

.collection a,
.navbio {
    /* border-bottom: 1px inset rgb(94, 100, 95); */
    background: linear-gradient(330deg, #e0525257 0%, #304d145d 25%, #52e0e06b 50%, #9952e054 75%, #e0525265 100%);
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

/* collections end */

@media (min-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position-y: center;
        height: 900px;
    }
    header div {
        position: relative;
        top: 200px;
    }
    h1 {
        font-size: 5em;
        line-height: 1em;
    }
    h2 {
        font-size: 2em;
    }
    main,
    nav,
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
    nav {
        display: flex;
        position: relative;
        top: 303px;
    }
    nav a {
        border: none;
        padding: 2em;
        width: 25%;
        font-weight: bold;
    }
    nav a:hover {
        background: linear-gradient(90deg, #ae96c74d 0%, #7bc7c366 25%, #80addc66 50%, #a37ec754 75%, #b277a566 100%);
        color: white;
    }
    a img:hover {
        filter: sepia(50%);
        transform: scale(1.1);
        position: relative;
        z-index: 5;
        transition: .5s;
    }
    p {
        font-size: 1.2em;
    }
    .home a {
        width: 25%;
    }
    /* bio */
    .navbio a {
        padding: 1.5em;
    }
    .bio,
    .gallery,
    .home {
        flex-wrap: wrap;
    }
    iframe {
        width: 932px;
        height: 524px;
    }
    /* end bio */
    /* kontakt start */
    .mapa {
        width: 600px;
        height: 450px;
    }
    .mapa:hover {
        filter: brightness(87%);
    }
    /* kontakt end */
    /* gallery */
    .gallery {
        display: flex;
    }
    .gallery img {
        height: 300px;
    }
    /* galerija end */
    div.collection > :nth-child(2):hover {
        opacity: 0.5;
        background: linear-gradient(90deg, #ae96c74d 0%, #7bc7c366 25%, #80addc66 50%, #a37ec754 75%, #b277a566 100%);
        border-radius: 20%;
        box-shadow: inset 6px 6px 20px #272222;
    }
}
@supports (-ms-ime-align:auto) {
    nav a:hover { 
        background: rgba(187, 135, 218, 0.123) 
    } 
  }
/* alternativa za hover na Edge jer ne podržava linear gradient na hover */